* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    font-family: 'alice', serif;
    color: #573A37
    
}

body {
    background-image: url('assets/bg-image.jpg');
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto ;

}

main {
    box-sizing: border-box;
    padding: 0 24px;
}

section + section {
    margin-top: 24px;
}

img {
    width: 100%;
    border-radius: 16px;

}

h1 {
    font-size: 40px;
    line-height: 140%;
   
}

#about p + p {
    margin-top: 4px;
}

h2 {
    font-size: 24px;
    margin-top: 24px;
}

h1, h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;


}

ul {
    margin-top: 4px;
    padding-left: 24px;
  
}


